
.pro-notif {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 5px;
    border: 1px solid #e0e0e0; 
    border-radius: 5px;
    width: 280px; 
    background-color: #f9f9f9; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 11%;

}

.user-details {
    display: flex;
    align-items: center; 
}

.user-details img {
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    margin-right: 10px; 
}


.user-name {
    font-size: 16px; 
    font-weight: bold; 
}

.notification-icon {
    
    color: #A25772; 
    padding: 8px; 
    cursor: pointer; 
}
