
    .Sidebar {
        width: 200px;
        height: 100vh;
        background-color: #7C93C3; /* Sidebar background color */
        color: #fff; /* Text color */
        padding: 20px;
        position:sticky;
        box-sizing: border-box;
        top: 0;
    }

    .logo img {
        width: 80%; /* Adjust logo width as needed */
        display: block;
        margin: 0 auto 20px; /* Center logo and add spacing */
    }

    .links a, .bottom-links a {
        display: block;
        padding: 10px 0;
        color: #fff; /* Text color for links */
        text-decoration: none; /* Remove underline */
        transition: background-color 0.3s;
    }

    .links a:hover, .bottom-links a:hover {
        background-color: #555; /* Hover background color */
    }

    .bottom-links {
        position: absolute;
        bottom: 20px; 
    }
    .icon-text{
        margin-left: 10px;
    }
