@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Hedvig+Letters+Serif:opsz@12..24&family=Montserrat&family=Playfair+Display&family=Rubik:wght@300&display=swap');
  
    .users-list, .booking-list, .dashboard, .rooms-list {
        font-family: Arial, sans-serif;
        width: 100%;
        /* margin: 20px auto; */
        border: 1px solid #ccc;
        padding: 15px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        margin: 0;
        box-sizing: border-box;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;

    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f5f5f5;
    }

    button {
        background-color: #A25772;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #cc0000;
    }


    .checked{
        background-color: #7C93C3;
    }



    td{
        white-space: nowrap;
    }

    .status-done {
        background-color: #7C93C3;
    }
    
    .status-pending {
        background-color: rgb(172, 172, 172);
    }
    
    .status-cancel {

        background-color: #A25772;
    }
    .booking-list p, .dashboard p{
        margin: 0;
        padding: 5px;
        border-radius: 20px;
    }
    .dashboard button{
        background-color: white;
        color: #333;
        cursor: auto;
    }
    