.users, .booking, .Dashboard, .rooms{
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    gap: 20px;
}

.booking .users-list {
    margin-top: 30px;
}

.notfound {
    display: grid;
    grid-template-columns: 200px 1fr; 
    height: 100vh; 
    background-color: #f4f4f4; 
 
}
.notfound .part2{
    align-items: center; 
    text-align: center;
}


.notfound h1 {
    font-size: 50px; 
    color: #333; 
}
